name: Build Binaries

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            goos: linux
            goarch: amd64
          - os: windows-latest
            goos: windows
            goarch: amd64
          - os: macos-latest
            goos: darwin
            goarch: amd64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Build with Makefile
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: make release
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: offvsix-${{ matrix.goos }}-${{ matrix.goarch }}
          path: ./bin/offvsix

  freebsd-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up FreeBSD VM
        uses: vmactions/freebsd-vm@v1
        with:
          release: '15.0'
          run: |
            pkg install -y go
            cd ${GITHUB_WORKSPACE}
            GOOS=freebsd GOARCH=amd64 make release
      - name: Upload FreeBSD Artifact
        uses: actions/upload-artifact@v4
        with:
          name: offvsix-freebsd-amd64
          path: bin/offvsix